.content {
    max-width: 700px;
    min-height: 100vh!important;
    margin: auto;
    border: solid;
    box-sizing: border-box;
    background-image: url('icons/background3.jpeg');
    background-size: 100%;
    background-repeat: repeat-y;
}

  .nav td {
      width: 150px;
      text-align: center;
  }


  .list{
      margin-top: 3px;
      text-align: center;
  }

  .title {
    text-align: center;  
  }

  .list th {
    position: sticky;
    top: 0;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

div.wrapper {
    overflow:hidden;
    overflow-y: scroll;
    height: 350px; 
}



  .button {
    background-color: darkgray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .buttons {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
