/*body {
    max-width: 40%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}*/

.content {
    max-width: 700px;
    min-height: 100vh!important;
    margin: auto;
    border: solid;
    box-sizing: border-box;
}

/*.content {
    max-width: 700px;
    max-height: 100%;
    margin: auto;
    outline: 5px solid black;
  }*/

  td {
      width: 150px;
      text-align: center;
  }